<app-sidebar>
    <ng-container content>
        <app-heading [title]="'Crear Genero'" [module]="'genres'" [action]="'create'"></app-heading>
        <app-genre-form>    
            <button
                (click)="createGenre()"
                action
                type="submit"
                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
            >
              Guardar
            </button>
        </app-genre-form>      
        <div *ngIf="success" class="max-w-md" >
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <span class="font-medium">Listo!</span> Genero registrado con éxito.
              </div>
        </div>
    </ng-container>
</app-sidebar>